*
!*.*
!*/
ROS2/*/build/
ROS2/*/install/
ROS2/*/log/
ROS1/*/build/
ROS1/*/devel/
webots/*/controllers
webots/*/libraries
webots/*/plugins
webots/*/protos
webots/camera_in_webots/
webots/webots_camera/
*.o
*.cmake
*.out
CMakeCache.*
*/CMakeFiles/
*/*/CMakeFiles/
*/*/*/CMakeFiles/
*/*/*/*/CMakeFiles/
*/*/*/*/*/CMakeFiles/
!ruby/markdown_auto_toc/summerizeMD